.navigation-menu {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    margin: 50px auto;
    margin-bottom:30px;
    padding: 25px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.option {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: var(--primary-blue);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.option:hover {
    background-color: var(--dark-blue);
}
.option:active {
    filter: brightness(0.8);
}
